// ==========
// Trumps
// ==========
.u-no-margin {
    margin: 0;
}

.u-no-bullets {
    list-style: none;
}

.u-normal-weight {
    font-weight: normal;
}

.u-divider {
    border-top: 1px $black-alpha3 solid;
    margin: 2.5rem 0;
}

.u-underline {
    text-decoration: underline;
}

.u-notes {
    font-size: 0.75rem;
}

.u-lowercase {
    text-transform: lowercase;
}

.u-san-serif {
    font-family: "Baskerville", serif;
}